.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 48px 0;
}

@media screen and (max-width: 788px) {
  .header {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 340px) {
  .header {
    margin: 0 16px 0;
  }
}
