.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 40px 0 0;
}

@media screen and (max-width: 1044px) {
  .intro__text {
    margin: 40px 24px 0;
  }
}

@media screen and (max-width: 788px) {
  .intro__text {
    margin: 40px 16px 0;
  }
}
