.section_type_places {
  margin: 92px 148px 0;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1044px) {
  .section_type_places {
    margin: 88px 48px 0;
  }
}

@media screen and (max-width: 788px) {
  .section_type_places {
    margin: 64px 24px 0;
    gap: 73px;
  }
}

@media screen and (max-width: 340px) {
  .section_type_places {
    margin: 64px 0 0;
    gap: 50px;
  }
}
