.cover {
  position: relative;
  max-width: 95%;
  min-height: calc(5/8 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 92px auto 0;
  overflow: hidden;
}

.cover:hover .cover__background {
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}
