@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

<<<<<<< HEAD
@import url(../blocks/header/header.css);

@import url(../blocks/profile/profile.css);

@import url(../blocks/cards/cards.css);

@import url(../blocks/edit-page/edit-page.css);

@import url(../blocks/footer/footer.css);

.section {
  max-width: 880px;
}

.page {
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 60px;
}

/*
* {
  border: 1px solid red;
}*/
=======
@import url(../blocks/page/page.css);

@import url(../blocks/section/section.css);

@import url(../blocks/places/places.css);

@import url(../blocks/link/link.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-section/header__lang-section.css);
@import url(../blocks/header/__lang-option/header__lang-option.css);
@import url(../blocks/header/__lang-option/_active/header__lang-option_active.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__span-text/intro__span-text.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
>>>>>>> 6ef28029b121a1c48b2c2f2ae1cd063f0a3eb1fc
