.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 92px 48px 0;
}

@media screen and (max-width: 788px) {
  .footer {
    margin: 64px 24px 0;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }
}
