.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

@media screen and (max-width: 1044px) {
  .intro__title {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 788px) {
  .intro__title {
    margin: 0 16px 0;
  }
}

@media screen and (max-width: 340px) {
  .intro__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
